@use "../../../styles/palette" as *;

.select-container {
  min-width: 300px !important;
  margin: auto;

  .btn {
    overflow: hidden;
    max-width: 180px;
  }
}
.no-selection {
  color: $alz-grey-600;
  font-weight: 800;
  font-size: xxx-large;
}
