$alz-white: #ffffff;
$alz-grey-50: #f4f5f6;
$alz-grey-100: #e4e6e8;
$alz-grey-200: #d2d6d9;
$alz-grey-300: #c0c6c9;
$alz-grey-400: #b3b9be;
$alz-grey-500: #a5adb2;
$alz-grey-600: #9da6ab;
$alz-grey-700: #939ca2;
$alz-grey-800: #8a9399;
$alz-grey-900: #79838a;
$alz-black: #111111;

$alz-red-50: #ffeaef;
$alz-red-100: #ffcbd4;
$alz-red-200: #f0969e;
$alz-red-300: #e76d78;
$alz-red-400: #f34757;
$alz-red-500: #fa2e3e;
$alz-red-600: #ea223d; // Error, cancel
$alz-red-700: #d81436;
$alz-red-800: #cb062f;
$alz-red-900: #bd0022;

$alz-primary: #3c7682;
$alz-secondary: #bbe0dd;
$alz-subtitle-color: #92d2e2;
$alz-primary-dark: #33636d;

$alz-success: #198754;
$alz-warning: #e9b816;
$alz-danger: $alz-red-600;
$alz-info: #92d2e2;
$alz-light: #f4f4f4;
$alz-dark: #14171c;

$alz-site-bg: #f4f4f4;
$alz-snackbar-bg: #323232;
