$alz-white: #FFFFFF;
$alz-grey-50: #f4f5f6;
$alz-grey-100: #e4e6e8;
$alz-grey-200: #d2d6d9;
$alz-grey-300: #c0c6c9;
$alz-grey-400: #b3b9be;
$alz-grey-500: #a5adb2;
$alz-grey-600: #9da6ab;
$alz-grey-700: #939ca2;
$alz-grey-800: #8a9399;
$alz-grey-900: #79838a;
$alz-black: #111111;

$alz-primary-50: #A9F4DE; // lighter
$alz-primary-100: #B9F1E4;
$alz-primary-200: #A5EEDD;
$alz-primary-300: #91E4D0;
$alz-primary-400: #76d8c1;
$alz-primary-500: #62D6BA;
$alz-primary-600: #5AC6AC; // Primary color
$alz-primary-700: #5ABCA5;
$alz-primary-800: #50A994;
$alz-primary-900: #479583; // darker

$alz-secondary-500: #DAFBFF;
$alz-info-600: #92D2E2;

$alz-red-50: #ffeaef;
$alz-red-100: #ffcbd4;
$alz-red-200: #f0969e;
$alz-red-300: #e76d78;
$alz-red-400: #f34757;
$alz-red-500: #fa2e3e;
$alz-red-600: #ea223d; // Error, cancel
$alz-red-700: #d81436;
$alz-red-800: #cb062f;
$alz-red-900: #bd0022;


$alz-primary: $alz-primary-600;
$alz-secondary: $alz-secondary-500;
$alz-subtitle-color: $alz-info-600;

$alz-success: #00b58a;
$alz-warning: #e9b816;
$alz-danger: $alz-red-600;
$alz-info: $alz-info-600;
$alz-light: $alz-primary-50;
$alz-dark: $alz-primary-900;

$alz-site-bg: #f4f4f4;
$alz-snackbar-bg: #323232;