@use "./styles/palette" as *;

.App {
  position: relative;
  min-height: 100% !important;
  font-weight: 500;
  background-color: $alz-site-bg;
}

.navbar {
  min-height: 85px;
}

.main {
  min-height: calc(100vh - 90px) !important;
}

.logo {
  width: 5%;
  min-width: 40px;
  max-width: 60px;
  margin: 0 10px 0 20px;
}

.name {
  width: 15%;
  min-width: 150px;
  max-width: 200px;
}

.icon-title {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: $alz-white;
}

.card-title {
  font-size: x-large;
  font-weight: 300;
  margin-left: 1.5rem;
}

.snackbar {
  background-color: $alz-danger !important;
  color: $alz-white !important;
}
